body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 90vh;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
}

main {
  width: clamp(300px, 60vw, 1000px);
  margin: 3rem;
  padding: 1.5rem 2.5rem;
  background-color: hsl(217, 19%, 24%);
  border-radius: 2rem;
}

a {
  color: hsl(177, 94%, 69%);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

input, button {
  padding: .5rem;
  border: none;
  border-radius: .5rem;
}

input {
  margin-bottom: .5rem;
  padding-inline: .75rem;
}

button {
  margin-top: 1rem;
  width: 66%;
  align-self: center;
  background-color: hsl(177, 94%, 69%);
  transition: all .5s ease-in-out;
  border: 1px solid hsl(177, 94%, 69%);
}

button:hover {
  cursor: pointer;
  background-color: hsl(217, 19%, 24%);
  color: hsl(177, 94%, 69%);
  border: 1px solid hsl(177, 94%, 69%);
}

#user-form {
  width: clamp(230px, 25vw, 500px);
  align-items: center;
  margin-inline: auto;
  border: 1px solid hsl(193, 38%, 86%);
  border-radius: .5rem;
  padding-block-end: 2rem;
}

#user-form > button {
  width: 30%;
}

.centered-text-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
}